<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <meta name="description" content="Realize o sorteio do números e nomes de vencedores através do carregamento de uma planilha" />
    <title>Sorteio por Planilha</title>
</head>
<body>
    <div id="app">
        <button @click="sortear">Sortear</button>
        <div v-if="contagemRegressiva > 0">
            Contagem Regressiva: {{ contagemRegressiva }}
        </div>
        <div v-if="vencedor">
            Vencedor: {{ vencedor.numero }} - {{ vencedor.nome }}
        </div>
        <div v-if="vencedores.length > 0">
            Vencedores:
            <ul>
                <li v-for="vencedor in vencedores" :key="vencedor.numero">
                    {{ vencedor.numero }} - {{ vencedor.nome }}
                </li>
            </ul>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="script.js"></script>
</body>
</html>